h1 {
    color: #2E2E2E;
}

body {
    font-family: Futura, sans-serif;
    background-color: #F2F0E3;
    padding: 50px;
}

img {
    width: 300px;
    border-radius: 15px;
}

.highlight {
    color: #F76F53;
    font-weight: bold;
}

#site-footer {
    text-align: center;
    font-size: 12px;
    color: #F88888;
    margin-top: 40px;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #2E2E2E;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: #F76F53;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }
}